<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projet.fashcard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-implied-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AccueilActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".FCContentProvider"
            android:authorities="com.project.fcContentProvider"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ListeActivity" />
        <activity android:name=".OutilCreateSupp" />
        <activity android:name=".AjouterJeu" />
        <activity android:name=".AjouterCarte" />
        <activity android:name=".QuizCarte" />

        <service android:name=".DownloadManagerActivity" />
    </application>

</manifest>